.palmaDaMao {
    width: 100%;
    height: fit-content;
    background-color: #76b4da;
    border-bottom: #1e7cbb solid 5px;
    display: none;
}

.containerApps {
    margin: 5%;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.sistemApps {
    list-style: none;
    width: 80px;
    height: fit-content;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.sistemApps img {
    border: #1e7cbb 5px solid;
    width: 70px;
    border-radius: 8px ;
}

.sistemApps p {
    margin-top: 5px;
    color: #1e7cbb;
    padding-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.sistemApps a:link, .sistemApps a:visited {
    text-decoration: none;
}

@media only screen and (max-width: 420px) {
    .palmaDaMao {
        display: flex;
    }
  }
