@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

* {box-sizing: border-box;}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container { 
  height: 480px;
  position:static;
  text-align: center;
  }

#img1, #img2, #img3, #img4, #img5{
  height: 580px;
  background-size: cover;
  background-position: bottom;
}

#img1{
  background-image: url("/Assets/carousel/img-sld-rivpe.png");
}

#img2{
  background-image: url("/Assets/carousel/img-sld-publicacao.png");
}

#img3{
  background-image: url("/Assets/carousel/img-sld-sei.png");
}

#img4{
  background-image: url("/Assets/carousel/img-sld-pesquisa.png");
  background-position: top;
}

#img5{
  background-image: url("/Assets/carousel/img-sld-form.png");
  background-size: cover;
}

  /* Hide the images by default */
.mySlides {
  display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 0;
  padding: 16px 23px;   
  color: #008ad1;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
  right: 18px;
  border-radius: 50%;
  }
.prev {
  left: 18px;
  border-radius: 50%; 
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(75, 70, 70, 0.8);
  color: #f2f2f2;
  }

.dots {
  text-align: center;
  margin: 40px 0 0 0;

} 

  /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #26a3e2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ;
  }
  
.atual, .dot:hover {
  background-color: #043558;
  }

.btn-manual-slide {
  background-color: #ffc276;
  color: #000;
  font-size: 25px;
  border: none;
  border-radius: 40px;
  padding: 25px 30px ;
  margin-top: 380px;
  font-family: 'Gilroy-Medium', sans-serif;
}  

.btn-manual-slide:hover {
  color: #ffc276;
  background-color: #645a51;
}

.btn-manual-slide a:hover {
  color: #ffc276;
  background-color: #645a51;
}

.btn-manual-slide a{
  text-decoration: none;
  color: #000;
}

#img1 .text, #img2 .text, #img3 .text, #img4 .text, #img5 .text{
  background-color: #f0f8ffdc;
  color: #008bd2;
  text-align: center;
  font-size: 30px;
  font-family: 'Questrial', sans-serif;
  font-weight: lighter;
  margin-top: 250px;
  padding: 20px 50px;
  position:absolute;
}

#img1 .text {
  margin-left: calc(50% - 434.79px);
}

#img2 .text {
  margin-left: calc(50% - 288.59px);
}

#img3 .text {
  margin-left: calc(50% - 177.59px);
}

#img4 .text {
  margin-left: calc(50% - 353.17px);
}

#img5 .text {
  margin-left: calc(50% - 300.17px);
}
#img5 #text-slide-5{
  margin-top: calc(250px - 71px);
  margin-left: calc(50% - 336px);
}

.comunicado-container {
  display: flex;
  justify-content: space-between;
  color:#f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.text-container {
  font-size: 25px;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-container h3 {
  font-size: 45px;
  margin: 0;
  margin-top: 10%;
  font-weight: 800;
  border-style: hidden;
  border-top: solid 10px #e67e7c;
}

.bg {
  float: left;
  margin: 0;
  font-weight: 600;
  color: #000;
  padding: 5px 10px;
  background-color: #e67e7c;
  display: inline;
}

.img-container {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.img-container p {
  margin-top: 55px;
  margin-right: -55px;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 20px;
  background-color: #ffffff;
  color: #000;
}

.img-container img {
  width: 300px;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Responsividade */ 
@media only screen and (max-width: 1230px) {
  .btn-manual-slide {
    font-size: 20px;
    margin-top: 380px;
  }  

  .img-container {
    margin-right: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container p {
    margin-top: 55px;
    margin-right: 25px;
    padding: 10px 15px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 1080px) { 
  .img-container img {
    width: 200px;
  }
  .text-container {
    font-size: 20px;
  }
  .rodape-img6 {
    flex-direction: column-reverse;
    align-items: center;
  }

}

@media only screen and (max-width: 800px) {
  .btn-manual-slide {
    font-size: 18px;
    margin-top: 380px;
    border-radius: 30px;
    padding: 20px 25px ;  
  }  

}  

@media only screen and (max-width: 690px) {
  #img5 #text-slide-5{
    margin-top: calc(250px - 102px);
  }

}

@media only screen and (max-width: 650px) {
  #img1 .text , #img2 .text, #img4 .text, #img5 #text-slide-5, #img5 .text {
    margin-left: auto;
    padding: 5px 15px;
  }
  .btn-manual-slide {
    margin-top: 380px;
    border-radius: 30px;
    padding: 20px 25px ;  
  }  
  .comunicado-container {
    flex-direction: column-reverse;
  }
  .img-container {
    flex-direction: row;
  }
  .img-container p {
    margin: 10px 5px 0 15px;
  }
  .text-container br {
    display: none;
  }
  .text-container h3 {
    font-size: 25px;
    margin-top: 0;
  }
  .rodape-img6 p {
    margin-top: 0;
  }
  .text-container {
    font-size: 15px;
  }

}  

@media only screen and (max-width: 400px) {
  .prev, .next {
    position:initial;
  }
  .slideshow-container { 
    height: 480px;
  }
}
