@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {box-sizing: border-box;}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container { 
  height: 480px;
  position:static;
  text-align: center;
  }

#img1, #img2, #img3, #img4 {
  height: 580px;
  background-size: cover;
}

#img1{
  background-image: url("/Assets/carousel/img-sld-rivpe.png");
}

#img2{
  background-image: url("/Assets/carousel/img-sld-publicacao.png");
}

#img3{
  background-image: url("/Assets/carousel/img-sld-sei.png");
}
#img4{
  background-image: url("/Assets/carousel/img-sld-pesquisa.png");
  background-position: top;
}

  /* Hide the images by default */
.mySlides {
  display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 0;
  padding: 16px 23px;   
  color: #008ad1;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
  right: 18px;
  border-radius: 50%;
  }
.prev {
  left: 18px;
  border-radius: 50%; 
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(75, 70, 70, 0.8);
  color: #f2f2f2;
  }

.dots {
  text-align: center;
  margin: 40px 0 0 0;

} 

  /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #26a3e2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ;
  }
  
.atual, .dot:hover {
  background-color: #043558;
  }

.btn-manual-slide {
  background-color: #ffc276;
  color: #000;
  font-size: 25px;
  border: none;
  border-radius: 40px;
  padding: 25px 30px ;
  margin-top: 380px;
  font-family: 'Gilroy-Medium', sans-serif;
}  

.btn-manual-slide:hover {
  color: #ffc276;
  background-color: #645a51;
}

.btn-manual-slide a:hover {
  color: #ffc276;
  background-color: #645a51;
}

.btn-manual-slide a{
  text-decoration: none;
  color: #000;
}

#img1 .text, #img2 .text, #img3 .text, #img4 .text {
  background-color: #f0f8ffdc;
  color: #008bd2;
  text-align: center;
  font-size: 30px;
  font-family: 'Questrial', sans-serif;
  font-weight: lighter;
  margin-top: 250px;
  padding: 20px 50px;
  position:absolute;
}

#img1 .text {
  margin-left: calc(50% - 434.79px);
}

#img2 .text {
  margin-left: calc(50% - 288.59px);
}

#img3 .text {
  margin-left: calc(50% - 177.59px);
}

#img4 .text {
  margin-left: calc(50% - 353.17px);
}



.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Responsividade */ 
@media only screen and (max-width: 1230px) {
  .btn-manual-slide {
    font-size: 20px;
    margin-top: 380px;
  
  }  

}  

@media only screen and (max-width: 800px) {
  .btn-manual-slide {
    font-size: 18px;
    margin-top: 380px;
    border-radius: 30px;
    padding: 20px 25px ;  
  }  

}  

@media only screen and (max-width: 650px) {
  #img1 .text , #img2 .text, #img4 .text {
    margin-left: auto;
    padding: 5px 15px;

  }

  .btn-manual-slide {
    margin-top: 380px;
    border-radius: 30px;
    padding: 20px 25px ;  
  }  

}  