@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.container-cards-sm {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#e6f6ff;
    height: 600px;
    width: 100%;
}

.it1-grid{
    grid-area: imagem;
    height: fit-content;
}
.it2-grid{
    grid-area: titulo; 
    height: fit-content;
    width: 100%;
    font-family: 'Questrial', sans-serif;
}
.it3-grid{
    grid-area: texto;
    margin-top: 15px; 
    padding: 15px;
    color: #8d8c8c;
    font-family: 'Gilroy-Medium', sans-serif;
}

.ms-card {
    display: grid;
    grid:
    'imagem'
    'titulo'
    'texto';
    grid-template-rows: 10% 10% 70% 10%;
    grid-gap: 1px;
    width: 500px;
    height: 400px;
    padding: 20px;
    background-color: #ffffffde;
    border-radius: 25px;
    margin: 0;
    text-align: center;
    justify-items: center;
}
.ms-card:hover {
    box-shadow: 4px 8px 16px 4px #32323238;
}

.ms-card img {
    height: 180px;
    margin-top: -10px;
}

a.sm-interno {
    color: #000000;
    text-decoration: none;   
}
 a.sm-interno:link, a.sm-interno:visited {
	text-decoration: none
	}


/* Responsividade */
@media only screen and (max-width: 855px) {
    .container-cards-sm {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height:max-content;
        width: 100%;
    }

    .ms-card {
        margin-top: 130px;
        margin-bottom: 30px;
        margin-right: 15px;
        margin-left: 15px;
        height: auto;
    }
    
}