body {
    background-color: #bbe1ffa9;
    text-align: center;
}
iframe {
    margin: 20px 0 20px 0;
}
.container-iframe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.controls-iframe{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    background-color: #ffc276;
}

.botoes button{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 5px;
    padding: 10px 15px;
    background-color: #ffffff00;
    color: #000000;
    border: none;
    cursor: pointer;
}

.botoes button:hover {
    background-color: #ffffff9a;
}