@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

body {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}
iframe {
    margin: 20px 0 20px 0;
    border: solid 2px #fff;
}
.container-iframe{
    display:inline-flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    width: 98vw;
}

.controls-iframe{
    margin-top: 40px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    background-color: #289ddb;
    border-top: solid 5px #289ddb;
    border-left: solid 5px #289ddb;
    border-right: solid 5px #289ddb;
}

.botoes button{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 5px;
    padding: 10px 15px;
    background-color: #ffffff00;
    color: #000;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;    
}

.botoes {
    border-bottom: solid 2px #000;
}

#iframe_dados {
    margin-top: 5px;
    border:none;
    width: 98vw;
    height: 800px;
}