@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

body {
    background-color:/* #f8d2d2;*/#fff;
}

.container-pagina {
    margin-left: 12%;
    margin-right: 12%;
    background-color: #ffffff;
}

.container-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.titulo-txt h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.container-pagina h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

.titulos-manuais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.titulos-manuais a, titulos-manuais a:visited {
    text-decoration: none;
}

#titulo-inicial {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ff8d17;
    font-family: 'Gilroy-Medium', sans-serif;
    
}

.btn-download-manual {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    color: #fff;
    background-color: #ff8d17;
    border: none;   
    margin-right: 20px;
}

.btn-download-manual a {
    text-decoration: none;
    color: #fff;
}

.btn-download-manual span {
    margin-left: 5px;
}

.card-secao ol li {
    list-style-type: upper-roman;
    font-size: 22px;
}

.card-secao {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
}

.card-secao p {
    font-size: 22px;
}

.card-secao h3 {
    float: left;
    background-color: #ffd197;
    width: fit-content;
    margin-top: 40px;
    padding: 10px 75px;
    font-weight: 300;
}

.card-secao img {
    max-width: 100%;
    margin: 30px 20%;
}

.card-video {
    background: url(../../Assets/difusao-atendimento/Onda-transparente-laranja.png);
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
}

.card-video video {
    max-width: 1000px;
}

.card-video p {
    text-align: justify;
    margin-right: 15px;
}

.container-reativacao p {
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    margin-top: 20px;
}

@media only screen and (max-width: 1380px) {
    .card-video {
        flex-direction: column;
    }


}    

@media only screen and (max-width: 860px) {
    .container-o-que-e {
        flex-direction: column-reverse;
    }
    .container-o-que-e img {
        width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .container-pagina {
        margin-left: 6%;
        margin-right: 6%;
    }

}

@media only screen and (max-width: 400px) {
    .container-titulo {
        margin-bottom: 10px;
        flex-direction: column;
    }

    .titulos-manuais {
      flex-direction: column;
    }
    .titulo-txt ol  {
        margin: 5px 0px;
    }
    .card-secao p {
        font-size: 18px;
    }
    .card-secao ol li {
        font-size: 18px;
    }  
    .container-reativacao p {
        font-size: 18px;
    }  
    .card-video p {
        font-size: 18px;
    }
}
