@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

footer {
    height: 250px;
    background-image: url('../../../Assets/avaliacao-documental/requerimento/footer-verde.png');
    background-position:right bottom;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    color: #fff;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

footer img {
    height: 40%;
}

footer p img {
    height: 20px;
}

.infos {
    font-family: 'Questrial', sans-serif;
    line-height: 25px;
}

@media only screen and (max-width: 1260px) {
    footer img {
        height: 30%;
    }
}

@media only screen and (max-width: 970px) {
    footer {
        flex-direction: column-reverse;
        text-align: center;
        background-color: black;
        margin-bottom: 0;
        height: fit-content;
    }
    p {
        margin-bottom: 0;
        padding-bottom: 15px;
    }
    footer img{
        height: 80px;
    }
}