@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

body {
    background-color:/* #f8d2d2;*/#fff;
}

.container-pagina {
    margin-left: 12%;
    margin-right: 12%;
    background-color: #ffffff;
}

.container-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.titulo-txt {
    width: 100%;
}

.titulo-txt h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.container-pagina h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

.titulos-manuais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.titulos-manuais a, titulos-manuais a:visited {
    text-decoration: none;
}

#titulo-inicial-1, #titulo-inicial-2 {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
    color: #72DECF;
    font-family: 'Gilroy-Medium', sans-serif;
    
}

#btn-download-manual-1, #btn-download-manual-2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    color: #fff;
    background-color: #72DECF;
    border: none;   
    margin-right: 20px;
}

#btn-download-manual-2 {
    background-color: #326120;
}

#titulo-inicial-2 {
    color: #326120;
}

#btn-download-manual-1 a, #btn-download-manual-2 a  {
    text-decoration: none;
    color: #fff;
}

#btn-download-manual-1 span, #btn-download-manual-2 span  {
    margin-left: 5px;
}

.container-o-que-e {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-o-que-e img {
    max-width: 400px;
}

.card-secao {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
}

.card-secao p {
    font-size: 22px;
}

.card-secao h3 {
    float: left;
    background-color: #ffd197;
    width: fit-content;
    margin-top: 40px;
    padding: 10px 75px;
    font-weight: 300;
}

.card-secao img {
    max-width: 100%;
    margin: 30px 20%;
}

.card-video {
    background: url(../../../Assets/avaliacao-documental/requerimento/onda-verde-fundo.png);
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
}

.card-video video {
    max-width: 1000px;
}

.card-video p {
    text-align: justify;
    margin-right: 15px;
}

.card-secao ul {
    background: url(../../../Assets/avaliacao-documental/requerimento/fundo-verde.png);
    padding: 3% 8%;
}

.card-secao ul li {
    font-size: 20px;
    margin: 20px 0;
}

@media only screen and (max-width: 1253px) {
    
    .texto-card-novidades h3 {
        text-align: center;
        font-size: 35px;
    }
    
    .texto-card-novidades p {
        text-align: center;
        font-size: 25px;
    }

    .img-novidades {
        height: 70%;
    }

}    

@media only screen and (max-width: 800px) {
    
    

}

@media only screen and (max-width: 600px) {
    .container-pagina {
        margin-left: 6%;
        margin-right: 6%;
    }

}

@media only screen and (max-width: 400px) {
    .container-titulo {
        margin-bottom: 10px;
        flex-direction: column;
    }
}
