@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

body {
    background-color: #efefef;
}

.container-pagina {
    margin: 0 15%;
    font-family: 'Questrial', sans-serif;
    background-color: #fff;
}

.container-texto {
    text-align: left;
    margin: 0px 20px;
    background: url('../../Assets/sobre-sei/onda-transparente-azul.png');
}

.video-apresentacao {
    display: flex;
    justify-content: space-between;
}

.video-apresentacao video {
    width: 750px;
}

.container-texto h2 {
    font-size:xx-large;
    padding-top: 20px;
    margin: 0;
}

.container-texto h3 {
    color: #008bd2;
    font-size: 25px;
    margin: 0;
}

.container-texto p {
    margin: 30px 0;
    font-size: 20px;
}

#assinatura, #perg-fqts, #sobre {
    margin: 10px 20px;
    padding: 5px 15px;
    background-color: #3ea7dd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    width: fit-content;
}

#sobre{
    background-color: #a5b61b;
}

.assinatura-uso {
    margin: 30px 20px;
    display: flex;
}

.assinatura-uso video {
    width: 290px;
}

.texto-assinatura, .text-dev-sei p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 3%;
}

.text-dev-sei {
   margin: 20px;
   display: flex;
}

.text-dev-sei img {
    width: 240px;
}