@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

body {
    background-color: #efefef;
}

.container-pagina {
    margin: 0 12%;
    font-family: 'Questrial', sans-serif;
    background-color: #fff;
}

.container-texto {
    text-align: left;
    margin: 0px 20px;
    background: url('../../Assets/sobre-sei/onda-transparente-azul.png');
}

.video-apresentacao {
    display: flex;
    justify-content: space-between;
}

.video-apresentacao video {
    width: 750px;
}

.container-texto h2 {
    font-size: 25px;
    padding-top: 20px;
    margin: 0;
}

.container-texto h3 {
    color: #008bd2;
    font-size: 25px;
    margin: 0;
}

.container-texto p {
    margin: 30px 0;
    font-size: 20px;
}

h4 {
    margin: 10px 20px;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    width: fit-content;
}

h4:nth-of-type(odd) {
  background: #3ea7dd;
}

h4:nth-of-type(even) {
  background: #a5b61b;
}

.assinatura-uso {
    margin: 30px 20px;
    display: flex;
}

.assinatura-uso video {
    width: 290px;
}

.texto-assinatura, .text-dev-sei p, .referencia p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 3%;
}

.text-dev-sei {
   margin: 20px;
   display: flex;
}

.text-dev-sei img {
    width: 240px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

li.seletor {
    cursor: pointer;
    list-style: none;
    padding: 3px 10px;
    border: 2px solid #03486b;
    border-radius: 4px;
    color: #efefef;
    background-color: #03486b;
}

@media only screen and (max-width: 1380px) {
    .video-apresentacao {
        flex-direction: column;
        align-items: center;
    }
    .video-apresentacao video {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .assinatura-uso {
        flex-direction: column;
        align-items: center;
    }
    .video-apresentacao video {
        width: 90%;
    }
    .text-dev-sei {
        flex-direction: column-reverse;
    }
    .container-pagina {
        margin: 0px 6%;
    }
}

@media only screen and (max-width: 1000px) {
    .container-pagina {
        padding-top: 30px;
    }
}
