@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

body {
    background-color:/* #f8d2d2;*/#fff;
}

.container-pagina {
    margin-left: 12%;
    margin-right: 12%;
    background-color: #ffffff;
}

.container-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.titulo-txt h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.container-pagina h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 25px;
}

#titulo-inicial {
    margin: 0;
    margin-bottom: 15px;
    font-size: 25px;
    color: #ff6e6e;
    font-family: 'Gilroy-Medium', sans-serif;
}

#btn-download-manual {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    color: #fff;
    background-color: #ff6e6e;
    border: none;   
    margin-right: 20px;
}

#btn-download-manual a {
    text-decoration: none;
    color: #fff;
}

#btn-download-manual span {
    margin-left: 5px;
}

.container-card-novidades {
    padding: 20px 0;
    background-color: #000;
    height: 350px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-novidades {
    padding-top: 3%;
    height: 110%;
}

.texto-card-novidades {
    text-align: center;
    font-size: 30px;
    padding-top: 0;
}

.texto-card-novidades h3 {
    font-size: 50px;
    font-family: 'Questrial', sans-serif;
}

.texto-card-novidades p {
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

.texto-card-novidades button {
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
    background-color: #e57976;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
}

.video-novidades video{
    width: 100%;
}

.container-segunda-parte-novidades{
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.container-segunda-parte-novidades video{
    width: 400px;
}

.container-texto-novidades{
    padding: 15px 10px;
    text-align: center;
    font-family: 'gilroy';
}

.container-texto-novidades h4 {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Questrial', sans-serif;
}

.space {
    margin-top: 35px !important; 
}

.container-texto-novidades p {
    font-size: 30px;
    font-family: 'Gilroy', sans-serif;
    color: #413f3f;
}

@media only screen and (max-width: 1253px) {
    
    .texto-card-novidades h3 {
        text-align: center;
        font-size: 35px;
    }
    
    .texto-card-novidades p {
        text-align: center;
        font-size: 25px;
    }

    .img-novidades {
        height: 70%;
    }

}

@media only screen and (max-width: 1000px) {
    .container-segunda-parte-novidades {
        flex-direction: column;
    }
}    

@media only screen and (max-width: 800px) {
    
    .texto-card-novidades h3 {
        font-size: 25px;
    }

    .texto-card-novidades p {
        font-size: 20px;
    }

    .img-novidades {
        height: 60%;
    }

}

@media only screen and (max-width: 600px) {

    .container-pagina {
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 50px;
    }
    
    .container-card-novidades {
        flex-direction: column-reverse;
    }

    .texto-card-novidades {
        padding: 0;
    }

    .texto-card-novidades h3 {
        padding: 0;
    }

    .texto-card-novidades p {
        padding: 0;
        margin: 5px 0;
    }

    .container-segunda-parte-novidades video{
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .container-texto-novidades h4 {
        font-size: 25px;
    }
    
    .container-texto-novidades p {
        font-size: 20px;
    }

    .container-titulo {
        margin-bottom: 10px;
        flex-direction: column;
    }
}