@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.sistemas {
    margin: 20px 12%;
    font-family: 'Gilroy-Medium', sans-serif;
}

@media only screen and (max-width: 700px) {
    .sistemas {
        margin-top: 50px;
    }
}
